/Test__BooleanDatatype.class
/Test__Datatype__construct.class
/Test__DecimalArrayDatatype.class
/Test__DecimalDatatype.class
/Test__FilesystemPathDatatype.class
/Test__GenericDatatype.class
/Test__IntegerArrayDatatype.class
/Test__IntegerDatatype.class
/Test__OptionDatatype.class
/Test__OscAddressDatatype.class
/Test__PullDatatype.class
/Test__PushDatatype.class
/Test__RangeDatatype.class
/Test__StringDatatype.class
